<!DOCTYPE html>
<html>
<head>
  <title>Test Title</title>
  <style type="text/css" media="screen">
    form article label {
      display: block;
      margin: 5px;
    }

    form .submit {
      margin: 15px 0;
    }
  </style>
</head>
<body>
  <p>hello fb hackathon</p>
    <form action="/apage" method="post">
        <article>
          <label>
            <span>This is a button which refreshes the page</span>
          </label>
        </article>
        <!-- <input type="hidden" name="test" value="yes"> -->
        <input type="image" name="button"
        value="{{a}}"
        src="http://placehold.it/120x120&text=image{{a}}" style="width: 170px; height=23px;"
        alt="a button should be here">
        <input type="image" name="button"
        value="{{b}}"
        src="http://placehold.it/120x120&text=image{{b}}" style="width: 170px; height=23px;"
        alt="a button should be here">
      </form>
</body>
</html>