<!DOCTYPE html>
<html>
<head>

<div style="background-color:#3b5998; padding-top:2px; padding-bottom:2px">
      <p>
        <span style="color:#FFFFFF; font-size: 1.2em; font-family:Helvetica Neue; margin: 20px">Feedme</span>
        </p>
    </div>

  <title>Test Title</title>
  <style type="text/css" media="screen">
    h2 {
    color: #3b5998;
    font-family:  'Helvetica Neue';
    font-size: 3em;
    margin: 50px;
    ... etc
    }
  
    form article label {
      display: block;
      margin: 5px;
    }

    form .submit {
      margin: 5px 0;
    }
  
  </style>
</head>
<body><center>
  <h2>
    PICK ONE</h2>
    <form action="/pickoriginal" method="post">
        <article>

        </article>
        <input type="hidden" name="left" value="{{a}}">
        <input type="hidden" name="right" value="{{b}}">
        <input type="image" name="button"
        value="{{a}}"
        src="{{url_for('static', filename=a)}}" style="width: 400px; height:350px;"
        alt="a button should be here">
        <input type="image" name="button"
        value="{{b}}"
        src="{{url_for('static', filename=b)}}" style="width: 400px; height:350px;"
        alt="a button should be here">
      </form>
    <label>

        <table style=width:800px>
        <tr>
        <center>
        <th style="width:50%; font-family:Helvetica Neue"> {{an}}</th>
        <th style="width:50%; font-family:Helvetica Neue"> {{bn}}</th>
        <center></tr> </table>
        
        <h3 style="font-family: Helvetica Neue'">Round {{r}} / 5</h3>
      </label>
    </center>
</body>
</html>
<!--src="http://placehold.it/120x120&text=image{{a}}" style="width: 360px; height=240px;"-->
