<!DOCTYPE html>
<html>
<head>
  <title>Test Title</title>
  <style type="text/css" media="screen">
    h2 {
    color: #3b5998;
    font-family: 'Open Sans';
    font-size: 3em;
    margin: 50px;
    ... etc
    }
  
    form article label {
      display: block;
      margin: 5px;
    }

    form .submit {
      margin: 5px 0;
    }
  
  </style>
</head>
<body><center>
  <h2>
    PICK ONE</h2>
    <form action="/pickoriginal" method="post">
        <article>

        </article>
        <input type="hidden" name="left" value="{{a}}">
        <input type="hidden" name="right" value="{{b}}">
        <input type="image" name="button"
        value="{{a}}"
        src="{{url_for('static', filename=a)}}" style="width: 400px; height:350px;"
        alt="a button should be here">
        <input type="image" name="button"
        value="{{b}}"
        src="{{url_for('static', filename=b)}}" style="width: 400px; height:350px;"
        alt="a button should be here">
        
      </form>
    <label>
        <h3>Round {{r}} / Total 5</h3>
      </label>
    </center>
</body>
</html>
<!--src="http://placehold.it/120x120&text=image{{a}}" style="width: 360px; height=240px;"-->
