<!DOCTYPE html>
<html>
<head>

    <div style="background-color:#3b5998; padding-top:2px; padding-bottom:2px">
      <p>
        <span style="color:#FFFFFF; font-size: 1.2em; font-family:Helvetica Neue; margin: 20px">Feedme</span>
        </p>
    </div>
    
  <title>Test Title</title>
  <style type="text/css" media="screen">
    h2 {
    color: #3b5998;
    font-family: 'Helvetica Neue';
    font-size: 3em;
    margin: 40px;
    ... etc
    }
  
  
    form article label {
      display: block;
      margin: 3px;
    }

    form .submit {
      margin: 5px 0;
    }
  
  </style>
</head>
<body>
<!--background="images/bg.jpg"-->
<center>
  <h2>THE CHOSEN ONE</h2>
   <h3 style="font-family:Helvetica Neue; font-size:1.5em">food name</h3>
    <form action="/apage" method="post">
        <article>

        </article>
        <input type="hidden" name="left" value="{{a}}">
        <input type="hidden" name="right" value="{{b}}">
        <input type="image" name="button"
        value="{{a}}"
        src="images/Banh_Mi_Thit.jpg" style="width: 400px; height:350px;"
        alt="a button should be here">
        
      </form>
    <label>
        <h3 style="font-family: 'Helvetica Neue">Don't like it?</h3>
      </label>
        <input type="image" name="button"
        value="{{a}}"
        src="images/button.jpg" style="width: 500px; height:300px;"
        alt="a button should be here">
    </center>
</body>
</html>
<!--src="http://placehold.it/120x120&text=image{{a}}" style="width: 360px; height=240px;"-->
