<!DOCTYPE html>
<html>
<head>
  <title>Test Title</title>
  <style type="text/css" media="screen">
    form article label {
      display: block;
      margin: 5px;
    }

    form .submit {
      margin: 15px 0;
    }
  </style>
</head>
<body>
  <p>hello fb hackathon</p>
    <!-- <form action="/action.py" method="post">
        <article>
          <label>
            <span>Amount is $5.00</span>
          </label>
        </article>
    
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_GfuC2LgG6asgSSaxpR5SoDAM"
                data-description="A Flask Charge"
                data-amount="500"
                data-currency="aud" 
                data-locale="auto"></script>
      </form> -->
</body>
</html>